# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java

# IDEs
.idea/
*.iml
.project
.settings/
.classpath

# OS
.DS_Store

# Logs
*.log
